body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(pexels-future-kiiid-3551498.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}